body{
    background: url(https://images.pexels.com/photos/205316/pexels-photo-205316.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat fixed top center;
    padding: 0%;
    margin: 0%;
    -webkit-background-size: 100% 100%;
     -moz-background-size: 75% 100%;
     background-size: 100% 100%;
     -o-background-size: 75% 100%;
    }
 

    
   

/* #workSpace { */
    /* background: url(https://images.pexels.com/photos/205316/pexels-photo-205316.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat fixed top center;
    padding: 0%;
    margin: 0%;
    -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
     background-size: 100% 100%;
     -o-background-size: 100% 100%;  */

