h2 {
    font-family: var(--font-one);
    margin-right: 10px;
    margin-bottom: 10%;
}

.control-group {
    font-family: var(--font-one);
    /*display: inline-block;*/
}

.form-control {
    font-family: var(--font-one);
   text-align: center;
   display: inline;
   /* margin-left: 50%;*/
}

button {
    font-family: var(--font-one);
    margin-left: 60%;  
}
/*.text-center {
    margin-left: 50%;
}*/
form {
    margin: 0 auto;
}
button{
    margin: 0 auto;
}
