#jumboStyle {
    background-color: transparent !important;
    background-size: cover;
    text-align: center;
    margin-top: -3%;
    font-family: var(--font-one);
    animation: type 5s steps(200);
    overflow: hidden;
    white-space: nowrap;
    width: 125ch;
   
}
 @keyframes type {
        0% {
            width: 0ch;
        }
        100% {
            width: 125ch;
        }
}



