
#thirdProject {
    font-family: var(--font-one);
    margin-left: 42%;
    font-size: 20px;
 }
 #secondProject {
    font-family: var(--font-one);
    margin-left: 45%;
    font-size: 20px;
    margin-top: 6%;
 }
 #firstProject {
    font-family: var(--font-one);
    font-size: 20px;
    margin-top: 10%; 
    margin-left: -2%;
    }
 #projects {
    margin-top: 35%;
    } 
a {
    color: green;
} 

#projectPic1 {
   overflow: hidden;
    height: 70px;
    width: 60px;
    }
    #projectPic {
        overflow: hidden;
         height: 100px;
         width: 150px;
         }
     #projectPic2 {
         overflow: hidden;
         height: 70px;
         width: 70px;
     }
     #quote {
        font-family: var(--font-one);
        font-size: 20px;
        margin-left: 320px;
        margin-top: 200px;
    }