
#thirdProject {
    font-family: var(--font-one);
    margin-left: 35em;
    font-size: 20px;
    margin-top: -5em
 }
 #secondProject {
    font-family: var(--font-one);
    margin-left: 19em;
    font-size: 20px;
    margin-top: -6em;
 }
 #firstProject {
    font-family: var(--font-one);
    font-size: 20px;
    margin-top: -4em; 
    margin-left: 9em;
    }
#poetry {
    font-family: var(--font-one);
    font-size: 20px;
    margin-top: -2em;
    margin-left: 13em

}
h2{
    text-shadow: 2px 2px 5px green;
}

 #projects {
    margin-top: 35%;
    } 
a {
    color: green;
} 

#projectPic1 {
   overflow: hidden;
    height: 70px;
    width: 60px;
    }
    #projectPic {
        overflow: hidden;
         height: 70px;
         width: 70px;
         }
     #projectPic2 {
         overflow: hidden;
         height: 60px;
         width: 60px;
     }
     #quill {
         overflow: hidden;
         height: 70px;
         width: 60px;
     }
     /* #aboutMe{
        font-size: 20px;
        color: black;
        font-family: var(--font-one);
        text-align: center;
        margin-top: 65%;
    } 
    
    #centerText{
        text-align: center;
    } */
     
   